<footer>
	<div class="contatner">
		<div class="row">
			<div class="col md-12">
				<h2>Остались вопросы?</h2>
				<p>Наш специалист ответит на любой ваш вопрос .</p>
				<div class="bottom_phone">
						<div class="wrapper">
							<div class="tabs">
								<span class="tab">Москва </span> /
								<span class="tab"> Караганда</span>       
							</div>
							<div class="tab_content">
								<div class="tab_item">+7 (999) 999-99-9</div>
								<div class="tab_item">+7 (888) 888-88-8 </div>
							</div>
						</div>
					</div>
				<div class="button_wrap">
					<a href="#" class="button btn_red">Заказать звонок</a>
				</div>
				
			</div>
		</div>
	</div>
</footer>