<header>
	<div class="container">
		<div class="raw">
			<div class="top_line clearfix
			">
				<div class="col-md-6 col-sm-6"><div class="logo">ProKurs</div></div>
				<div class="col-md-6 col-sm-6">
					<div class="top_phone">
						<div class="wrapper">
							<div class="tabs">
								<span class="tab">Москва </span> /
								<span class="tab"> Караганда</span>       
							</div>
							<div class="tab_content">
								<div class="tab_item">+7 (999) 999-99-9</div>
								<div class="tab_item">+7 (888) 888-88-8 </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="raw">
			<div class="top_header clearfix
			">
				<div class="col-md-12">
					<h1>Курсы повышения знаний</h1>
					<h2>ProKurs в Москве и Караганде</h2>
				</div>
			</div>	
			<div class="tabs_header clearfix
			">
			<div class="col-md-7">
				<div class="wrapper">
					<div class="tabs clearfix">
						<span class="tab">Скидки учащимся</span> 
						<span class="tab"><span class="hidden-sm hidden-xs">Дополнительные скидки</span>
						<span class="hidden-md hidden-lg">Дополнительно</span></span>      
					</div>
					<div class="tab_content clearfix">
						<div class="tab_item">
					        <ul>
								<li><i class="fa fa-globe"></i>10% владельцу карты на продолжение обучения на следующем уровне;</li>
								<li><i class="fa fa-th-list"></i>5% предьявителю карты на все программы обучения;</li>
								<li><i class="fa fa-calendar"></i>3-5% на обучение за рубежом.</li>
					        </ul>
						</div>
						<div class="tab_item"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque repellat dolorem aspernatur, pariatur, laboriosam dolorum sequi odit, ullam id delectus alias cumque. Aut incidunt placeat magni, quod, recusandae iusto voluptatem.</p></div>
						 <div class="button_wrap"><a href="#hidden_form" class="button btn_red popup_c">Начать обучение</a>
					        </div>
					</div>
				</div>
			</div>
			</div>
		</div>
	</div>
</header>