<section class="s_contacts">
	<div class="contacts_top">
		<h2> Как нас найти :</h2>
		<div class="tabs">
			<span class="tab button btn_white">В Москве </span> 
			<span class="tab button btn_white">В Караганде</span>       
		</div>
	</div>
	<div class="wrapper clearfix">
		<div class="tab_content">
			<div class="tab_item">
				Центральная ул., дом 23, корпус 3
				<div class="map"><script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=3MpYiMENiAVBfWxeN2NPh4FF0VsYTTAA&amp;height=480"></script></div>
			</div>
			<div class="tab_item">
				Стратонавтов ул., дом 22, корпус 2 
				<div class="map"><script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=-NVgAl3DCsWTPuqJ1bwTsj-Zdj5aq6iO&amp;height=480"></script></div>
			</div>
		</div>
	</div>
</section>