<section class="s_profi">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>Доверьте обучение профессионалам</h2>
				<div class="row">
					<div class="col-md-8">
						<div class="profy_item clearfix col-md-12 col-sm-12 col-xs-6">
							<div class="profy_left col-md-2 col-sm-2">
								<i class="fa fa-globe"></i>
							</div>
							<div class="profy_right col-md-10 col-sm-10">
							<h3>Опыт</h3>
							<p>Мы успешно работаем на рынке образовательных услуг уже <strong> более 10 лет</strong>, что подтверждается благодарными отзывами наших многочисленных клиентов.</p>
							</div>
						</div>
						<div class="profy_item clearfix col-md-12 col-sm-12 col-xs-6">
							<div class="profy_left col-md-2 col-sm-2">
								<i class="fa fa-arrow-circle-left"></i>
							</div>
							<div class="profy_right col-md-10 col-sm-10">
								<h3>Методика</h3>
								<p>Обучение квалификациям проводится по самым современным аутентичным учебникам. У нас работают только опытные и квалифицированные преподаватели и профессионалы, имеющие сертификаты.</p>
							</div>
						</div>
						<div class="profy_item clearfix col-md-12 col-sm-12 col-xs-6">
							<div class="profy_left col-md-2 col-sm-2">
								<i class="fa fa-gratipay "></i>
							</div>
							<div class="profy_right col-md-10 col-sm-10">
								<h3>Расположение</h3>
								<p>Наши учебные аудитории удобно расположены в центре Москвы и Караганды рядом со станциями метро.</p>
							</div>
						</div>
						<div class="profy_item clearfix col-md-12 col-sm-12 col-xs-6">
							<div class="profy_left col-md-2 col-sm-2">
								<i class="fa fa-github"></i>
							</div>
							<div class="profy_right col-md-10 col-sm-10">
								<h3>И дивидуальность</h3>
								<p>Мы делаем акцент на индивидуальном подходе к каждому ученику и четкой организации учебного процесса. Занятия также могут проводиться на дому или в офисах клиентов.</p>
							</div>
						</div>	
					</div>
					<div class="col-md-4">
						<form>
							<h2>Связаться  с нами</h2>
							<label >
							<span>Ваше имя</span>
							<input type="text" name="name" required /> 
							</label>
							<label >
							<span>Ваш телефон</span>
							<input type="text" name="phone" required /> 
							</label>
							<label >
							<span>Ваш город</span>
								<select name="city">
									<option>Москва</option>
									<option>Караганда</option>
								</select>
							</label>
							<div class="button_wrap">
								<button class="button btn_green">Отправить заявку</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>