<section class="s_review s_dark" data-stellar-background-ratio="0.5">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>Отзывы наших учеников</h2>
			</div>
		</div>	
		<div class="row">
			<div class="col-md-12">
				<div class="carousel">
					<div class="review_item">
						<div class="image_wrap">
							<a href="assets/images/review.jpg" class="popup"><img src="assets/images/review.jpg" alt="Alt"></a>
						</div>
						<h4>Соломатина Наталья</h4>
						<div class="hr"></div>
						<div class="row">
						<p class="col-md-8">
									Хочу поблагодарить ProKurs и Алену за проведенные курсы повышения квалификации. Эти уроки помогли мне преодолеть трудности. Уроки проходили в дружеской и непосредственной атмосфере, что способствовало хорошему усвоению материала и мотивировало на дальнейшие занятия. Алена всегда находила интересные темы для обсуждения.</p>
						</div>
					</div>
					<div class="review_item">
						<div class="review_item">
						<div class="image_wrap">
							<a href="assets/images/review.jpg" class="popup"><img src="assets/images/review.jpg" alt="Alt"></a>
						</div>
						<h4>Соломатина Наталья</h4>
						<div class="hr"></div>
						<div class="row">
						<p class="col-md-8">
									Хочу поблагодарить ProKurs и Алену за проведенные курсы повышения квалификации. Эти уроки помогли мне преодолеть трудности. Уроки проходили в дружеской и непосредственной атмосфере, что способствовало хорошему усвоению материала и мотивировало на дальнейшие занятия. Алена всегда находила интересные темы для обсуждения.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>