<section class="s_tizers">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				
				<div class="tiz_img">
					<i class="fa">10</i>
				</div>
				<div class="tiz_descr">
					<span>Более 10 лет</span>
					<strong> На рынке</strong>
				</div>
				
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="tiz_img">
					<i class="fa fa-th-list"></i>
				</div>
				<div class="tiz_descr">
					<span>Самые современные</span>
					<strong>Методики</strong>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="tiz_img">
					<i class="fa fa-globe"></i>
				</div>
				<div class="tiz_descr">
					<span>Квалифицированные</span>
					<strong>Преподаватели</strong>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="tiz_img">
					<i class="fa fa-calendar"></i>
				</div>
				<div class="tiz_descr">
					<span>Гарантия получения</span>
					<strong>Высоких баллов</strong>
				</div>
			</div>
		</div>
	</div>
</section>