.profy_item
	.profy_left
		color: $red-color
		i
			font-size: 100px
			line-height: 100px

	.profy_right
		h3
			display: inline-block
			margin: 0
			color: $red-color
			font-size: 28px
		
		p
			margin-top: 5px